In [1]:
url = "C:/Users/koaro/OneDrive/바탕 화면/경남공모전/인구통계 데이터/"

import pandas as pd

### 1. 행정동별 노인인구, 총인구 산출

In [55]:
df1 = pd.read_csv(url+'202305_202305_연령별인구현황_월간.csv',encoding='cp949')

In [30]:
df1.columns

Index(['행정구역', '2023년05월_계_총인구수', '2023년05월_계_연령구간인구수', '2023년05월_계_0~4세',
       '2023년05월_계_5~9세', '2023년05월_계_10~14세', '2023년05월_계_15~19세',
       '2023년05월_계_20~24세', '2023년05월_계_25~29세', '2023년05월_계_30~34세',
       '2023년05월_계_35~39세', '2023년05월_계_40~44세', '2023년05월_계_45~49세',
       '2023년05월_계_50~54세', '2023년05월_계_55~59세', '2023년05월_계_60~64세',
       '2023년05월_계_65~69세', '2023년05월_계_70~74세', '2023년05월_계_75~79세',
       '2023년05월_계_80~84세', '2023년05월_계_85~89세', '2023년05월_계_90~94세',
       '2023년05월_계_95~99세', '2023년05월_계_100세 이상'],
      dtype='object')

In [56]:
# 괄호 문자 제거 함수 정의
def remove_parentheses(text):
    return text.split('(')[0]

# '행정구역' 열의 괄호 문자 제거
df1['행정구역'] = df1['행정구역'].apply(remove_parentheses)

# 컬럼명 수정
new_columns = [df1.columns[0]] + [col.split('_')[1] + col.split('_')[2] for col in df1.columns[1:]]
df1.columns = new_columns

a = df1['행정구역'].str.split()
df1['행정구역'] = a.apply(lambda x: x if len(x) >= 4 else None)
df1 = df1.dropna(subset=['행정구역'])

df1['행정구역'] = df1['행정구역'].apply(lambda x: ' '.join(x))

df1['자치구'] = df1['행정구역'].str.split().apply(lambda x: x[2])

cols = list(df1.columns)
cols.insert(1,cols.pop(-1))
df1 = df1[cols]

In [56]:
# '행정구역' 열의 괄호 문자 제거
df2['행정구역'] = df2['행정구역'].apply(remove_parentheses)

# 컬럼명 수정
new_columns = [df2.columns[0]] + [col.split('_')[1] + col.split('_')[2] for col in df2.columns[1:]]
df2.columns = new_columns

a = df2['행정구역'].str.split()
df2['행정구역'] = a.apply(lambda x: x if len(x) >= 4 else None)
df2 = df2.dropna(subset=['행정구역'])

df2['행정구역'] = df2['행정구역'].apply(lambda x: ' '.join(x))

df2['자치구'] = df2['행정구역'].str.split().apply(lambda x: x[2])

cols = list(df2.columns)
cols.insert(1,cols.pop(-1))

df2 = df2[cols]

In [32]:
df1.columns

Index(['행정구역', '자치구', '계총인구수', '계연령구간인구수', '계0~4세', '계5~9세', '계10~14세',
       '계15~19세', '계20~24세', '계25~29세', '계30~34세', '계35~39세', '계40~44세',
       '계45~49세', '계50~54세', '계55~59세', '계60~64세', '계65~69세', '계70~74세',
       '계75~79세', '계80~84세', '계85~89세', '계90~94세', '계95~99세', '계100세 이상'],
      dtype='object')

In [4]:
# 쉼표 제거
df1 = df1.replace(',', '', regex=True)

# 0번째와 1번째 컬럼 제외하고 수치형 변수로 변환
df1.iloc[:, 2:] = df1.iloc[:, 2:].apply(pd.to_numeric)

new_df1 = df1.iloc[:, [0] + list(range(17, 25))]

In [5]:
df1['노인총인구수'] = new_df1.iloc[:, 1:].sum(axis=1)

selected_columns = ['행정구역', '자치구','계총인구수', '노인총인구수']
new_df = df1[selected_columns]
new_df['읍면동'] = new_df['행정구역'].str.split().apply(lambda x: x[3])

C:\Users\koaro\AppData\Local\Temp\ipykernel_16680\3963730691.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['읍면동'] = new_df['행정구역'].str.split().apply(lambda x: x[3])

In [6]:
new_df = new_df.reset_index(drop=True)
new_df = new_df.rename(columns={'읍면동': '행정동'})

new_df.head()

               행정구역  자치구  계총인구수  노인총인구수  행정동
0   경상남도 창원시 의창구 동읍  의창구  19125    4408   동읍
1   경상남도 창원시 의창구 북면  의창구  43172    5706   북면
2  경상남도 창원시 의창구 대산면  의창구   6891    2388  대산면
3  경상남도 창원시 의창구 의창동  의창구  49784    7090  의창동
4  경상남도 창원시 의창구 팔룡동  의창구  25746    2816  팔룡동

#### 자치구, 총인구수, 노인총인구수(65세 이상) 완료

### 2. 행정동별 평균소득, 가구당 인구수, 총가구수 산출

In [7]:
df2 = pd.read_csv(url+"전처리한 파일/읍면동별평균소득.csv", encoding='cp949')
df2

                      주소    자치구   행정동 동읍리(법정동)   총인구수  총가구수  가구당인구수     평균소득
0        경상남도 창원시 의창구 동읍    의창구    동읍      용강리  19576  7924    2.47  2302.14
1        경상남도 창원시 의창구 동읍    의창구    동읍      용전리  19576  7924    2.47  2376.02
2        경상남도 창원시 의창구 동읍    의창구    동읍      남산리  19576  7924    2.47  2711.18
3        경상남도 창원시 의창구 동읍    의창구    동읍      덕천리  19576  7924    2.47  3135.00
4        경상남도 창원시 의창구 동읍    의창구    동읍      덕산리  19576  7924    2.47  2702.03
..                   ...    ...   ...      ...    ...   ...     ...      ...
326  경상남도 창원시 마산회원구 합성2동  마산회원구  합성2동      합성동   8192  3700    2.21  2496.11
327  경상남도 창원시 마산회원구 구암1동  마산회원구  구암1동      구암동   8959  4004    2.24  2522.92
328  경상남도 창원시 마산회원구 구암2동  마산회원구  구암2동      구암동   9688  4219    2.30  2522.92
329   경상남도 창원시 마산회원구 봉암동  마산회원구   봉암동      봉암동   4453  1954    2.28  2147.22
330   경상남도 창원시 마산회원구 봉암동  마산회원구   봉암동      양덕동   4453  1954    2.28  2689.64

[331 rows x 8 columns]

#### 헷갈리는 이슈: 행정동의 평균소득 계산방식
#### 각 행정동안의 리의 '평균소득'의 합계 / 각 행정동안의 리의 개수로 보는게 맞을까?

In [8]:
df2['총가구수'].unique()

array([ 7924, 15529,  3198, 19918, 14839, 17199, 14575, 12661, 15100,
       12374, 10357, 17721, 15069,  9184,  3243,  6430,  3816,  2285,
        4358,  3116,  6759,  4224,  8445,  3932,  8937,  4848,  2659,
       17375,  1808,  5022,  1503,  1906,  5345,   287, 12908,  5331,
        6011,  3723,  4544,  9208,  6055,  3091,  5710, 23804,  4699,
        3794,  7314,  2775,  5037, 11548,  4160,  3700,  4004,  4219,
        1954], dtype=int64)

In [8]:
df2_grouped = df2.groupby('행정동')['평균소득'].mean().reset_index()
df2_grouped['평균소득'] = df2_grouped['평균소득'].round(1)

list = [ 7924, 15529,  3198, 19918, 14839, 17199, 14575, 12661, 15100,
       12374, 10357, 17721, 15069,  9184,  3243,  6430,  3816,  2285,
        4358,  3116,  6759,  4224,  8445,  3932,  8937,  4848,  2659,
       17375,  1808,  5022,  1503,  1906,  5345,   287, 12908,  5331,
        6011,  3723,  4544,  9208,  6055,  3091,  5710, 23804,  4699,
        3794,  7314,  2775,  5037, 11548,  4160,  3700,  4004,  4219,
        1954]

df2_grouped['총가구수'] = list

In [10]:
df2_grouped.head()

    행정동    평균소득   총가구수
0  가음정동  4753.2   7924
1   가포동  3001.3  15529
2   경화동  2241.7   3198
3   교방동  2323.8  19918
4   구산면  2139.0  14839

#### 인구통계가 들어있는 new_df와 평균소득이 들어있는 df2_grouped 병합

In [9]:
new_df = new_df.merge(df2_grouped, on='행정동', how='left')
new_df.head()

               행정구역  자치구  계총인구수  노인총인구수  행정동    평균소득   총가구수
0   경상남도 창원시 의창구 동읍  의창구  19125    4408   동읍  2487.0  10357
1   경상남도 창원시 의창구 북면  의창구  43172    5706   북면  2609.4   4358
2  경상남도 창원시 의창구 대산면  의창구   6891    2388  대산면  1939.9  15100
3  경상남도 창원시 의창구 의창동  의창구  49784    7090  의창동  3278.2   6011
4  경상남도 창원시 의창구 팔룡동  의창구  25746    2816  팔룡동  2739.3   7314

### 3. 행정동당 상권의 평균면적 산출

In [10]:
df3 = pd.read_csv(url+'경상남도 창원시_빅데이터_시도 시군구 법정동 행정동 소지역블럭 코드_20200825.csv', encoding='cp949')
df3['시군구'] = df3['시도'] + ' '+ df3['시군구']
col = ['시군구','행정동명','법정동명','상권이름','영역둘레','영역면적']
df3 = df3[col]
df3 = df3.iloc[:-1,:]  # 맨 마지막 행 결측값  
df3 = df3.rename(columns={'행정동명': '행정동'})

In [11]:
df3.head()

            시군구  행정동 법정동명 상권이름         영역둘레         영역면적
0  경상남도 창원시 의창구  의창동  소계동  소계동   731.036973  21603.74042
1  경상남도 창원시 의창구  의창동  소계동  소계동  1061.614878  21296.25014
2  경상남도 창원시 의창구  의창동  소계동  소계동   786.234564  22020.42252
3  경상남도 창원시 의창구  의창동  소계동  소계동   886.558233  19784.20527
4  경상남도 창원시 의창구  의창동  소계동  소계동   600.948183  16868.52374

In [12]:
df3_grouped = df3.groupby('행정동')['영역둘레','영역면적'].mean().reset_index()
df3_grouped.head()

C:\Users\koaro\AppData\Local\Temp\ipykernel_16680\1760206491.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df3_grouped = df3.groupby('행정동')['영역둘레','영역면적'].mean().reset_index()

    행정동          영역둘레          영역면적
0  가음정동    657.127267  3.515754e+04
1   가포동  10229.232368  2.705034e+06
2   경화동   1313.006391  1.532422e+05
3   교방동   1008.869002  1.085152e+05
4   구산면  14346.736330  4.010639e+06

In [13]:
new_df = new_df.merge(df3_grouped, on='행정동', how='left')

In [14]:
new_df.head()

,행정구역,자치구,계총인구수,노인총인구수,행정동,평균소득,총가구수,영역둘레,영역면적
0,경상남도 창원시 의창구 동읍,의창구,19125,4408,동읍,2487.0,10357,4285.776603,1.354116e+06
1,경상남도 창원시 의창구 북면,의창구,43172,5706,북면,2609.4,4358,3633.240311,1.341881e+06
2,경상남도 창원시 의창구 대산면,의창구,6891,2388,대산면,1939.9,15100,7840.570505,2.600381e+06
3,경상남도 창원시 의창구 의창동,의창구,49784,7090,의창동,3278.2,6011,1178.698679,1.107619e+05
4,경상남도 창원시 의창구 팔룡동,의창구,25746,2816,팔룡동,2739.3,7314,971.992987,8.455609e+04

In [15]:
count = df3['행정동'].value_counts().sort_index().reset_index()
count = count.rename(columns={'행정동': '상권개수'})
count = count.rename(columns={'index':'행정동'})

In [16]:
count.head()

    행정동  상권개수
0  가음정동    83
1   가포동     2
2   경화동    20
3   교방동    21
4   구산면    11

In [18]:
new_df = new_df.merge(count, on='행정동', how='left')

### 총 정리

In [19]:
new_df.to_csv('변수병합.csv',encoding='cp949')

In [17]:
bus = pd.read_csv(url+'전처리한 파일/경상남도 창원시_버스정류장위치정보_20191201.csv', encoding='cp949')

In [20]:
bus

        ID  모바일_ID 행정구역        정류장명  주소          위도         경도
0        1  100201   동읍          합산 NaN  128.677387  35.337581
1        2  100202   동읍          합산 NaN  128.677291  35.337657
2        3  100203   동읍        용산입구 NaN  128.678880  35.332786
3        4  100204   동읍        용산입구 NaN  128.678769  35.332731
4        5  100205  대산면        백양마을 NaN  128.687349  35.327622
...    ...     ...  ...         ...  ..         ...        ...
2393  2394  630360  남문동  동영로지스틱스(주) NaN  128.774230  35.088324
2394  2395  630361  용원동         말무교 NaN  128.823837  35.091914
2395  2396  630362  용원동         말무교 NaN  128.823983  35.091702
2396  2397  630372  죽곡동    진해구 어은입구 NaN  128.726505  35.113459
2397  2398  630373  죽곡동    진해구 어은입구 NaN  128.726589  35.113399

[2398 rows x 7 columns]

In [28]:
bus = bus['행정구역'].value_counts().reset_index()
bus

     index  행정구역
0       북면   203
1       동읍   154
2      내서읍   149
3      진전면   110
4      구산면   105
..     ...   ...
128    중평동     1
129    수성동     1
130  월남동2가     1
131    추산동     1
132    통신동     1

[133 rows x 2 columns]

In [29]:
bus['index'].unique()

array(['북면', '동읍', '내서읍', '진전면', '구산면', '대산면', '진북면', '팔용동', '진동면', '용원동',
       '신촌동', '양덕동', '자은동', '상남동', '경화동', '남양동', '구암동', '회원동', '성주동',
       '신월동', '합성동', '명서동', '사림동', '대방동', '남문동', '월영동', '봉곡동', '반지동',
       '해운동', '가음동', '예곡동', '완월동', '소계동', '산호동', '여좌동', '원포동', '봉암동',
       '장천동', '중앙동', '사파동', '석전동', '용호동', '덕동동', '두척동', '도계동', '이동', '두동',
       '가포동', '석동', '충무동', '명동', '풍호동', '귀산동', '서상동', '제덕동', '웅남동', '회성동',
       '반림동', '현동', '남산동', '소답동', '안골동', '태백동', '청안동', '태평동', '죽곡동',
       '성내동', '귀곡동', '삼동동', '동정동', '우산동', '안민동', '교방동', '내동', '용동', '외동',
       '양곡동', '마천동', '대원동', '성산동', '중동', '행암동', '중앙동3가', '신포동1가', '오동동',
       '수송동', '불모산동', '가음정동', '덕산동', '남성동', '서중동', '사파정동', '월포동', '중앙동2가',
       '자산동', '중성동', '차용동', '동성동', '삼정자동', '봉림동', '대죽동', '귀현동', '서성동',
       '가주동', '북부동', '퇴촌동', '천선동', '신포동2가', '광화동', '대흥동', '화천동', '숭인동',
       '평화동', '성호동', '문화동', '부림동', '중앙동1가', '덕정동', '월남동1가', '월남동3가',
       '상복동', '월남동4가', '대장동', '대천동', '평안동', '월남동5가', '송죽동', '창선동', '중평동',
       '수성동', '월남동2가', '추산동', '통신동'], dtype=object)

In [30]:
bus[bus['index'].str.contains('동')]

     index  행정구역
1       동읍   154
7      팔용동    69
8      진동면    63
9      용원동    47
10     신촌동    39
..     ...   ...
128    중평동     1
129    수성동     1
130  월남동2가     1
131    추산동     1
132    통신동     1

[127 rows x 2 columns]

In [31]:
bus[~bus['index'].str.contains('동')]

  index  행정구역
0    북면   203
2   내서읍   149
3   진전면   110
4   구산면   105
5   대산면   103
6   진북면    94

### 추가: 중위연령 구하기

In [57]:
df1 = df1.replace(',', '', regex=True) # ,쉼표 표시 제거해야댐 계산하려면
df1.iloc[:, 2:] = df1.iloc[:, 2:].apply(pd.to_numeric) #수치형 변환도해야댐

df1['읍면동'] = df1['행정구역'].str.split().apply(lambda x: x[3])
df1 = df1.reset_index(drop=True)
df1 = df1.rename(columns={'읍면동': '행정동'})

In [58]:
df1['계95~100세'] = df1['계95~99세'] + df1['계100세 이상']
df1 = df1.drop(columns=['계100세 이상','계95~99세'])

In [59]:
# 연령 컬럼들의 범위
age_columns = ['계0~4세', '계5~9세', '계10~14세', '계15~19세', '계20~24세', '계25~29세', '계30~34세',
               '계35~39세', '계40~44세', '계45~49세', '계50~54세', '계55~59세', '계60~64세', '계65~69세',
               '계70~74세', '계75~79세', '계80~84세', '계85~89세', '계90~94세', '계95~100세']

# 연령 컬럼들을 기반으로 중위연령을 계산하는 함수
def calculate_median_age(row):
    age_values = []
    for age_col in age_columns:
        age_range = age_col.split('~')  # 연령 범위를 분리
        age_min = int(age_range[0].replace('계', ''))  # 연령 범위의 최소값
        age_max = int(age_range[1].replace('세', ''))  # 연령 범위의 최대값
        age_count = row[age_col]  # 해당 연령 범위의 인원수
        age_values.extend([age_min] * age_count)  # 인원수를 연령값으로 변환하여 리스트에 추가
    median_age = np.median(age_values)
    return median_age

# 행정동별로 중위연령을 계산
df1['중위연령'] = df1.apply(calculate_median_age, axis=1)

In [60]:
df1.to_csv('중위연령계산.csv',encoding='cp949')

### 1세 단위 인구데이터로 중위연령 계산

In [3]:
df2 = pd.read_csv(url+'연령별인구(1세단위).csv',encoding='cp949')

In [4]:
df2.head(2)

,행정구역,2023년05월_계_총인구수,2023년05월_계_연령구간인구수,2023년05월_계_0세,2023년05월_계_1세,2023년05월_계_2세,2023년05월_계_3세,2023년05월_계_4세,2023년05월_계_5세,2023년05월_계_6세,...,2023년05월_계_91세,2023년05월_계_92세,2023년05월_계_93세,2023년05월_계_94세,2023년05월_계_95세,2023년05월_계_96세,2023년05월_계_97세,2023년05월_계_98세,2023년05월_계_99세,2023년05월_계_100세 이상
0,경상남도 창원시 (4812000000),"1,015,361","1,015,361","4,512","4,843","5,421","5,742","6,446","7,218","8,123",...,903,634,503,401,233,165,111,72,39,80
1,경상남도 창원시 의창구 (4812100000),"215,009","215,009",979,"1,120","1,246","1,254","1,461","1,585","1,810",...,156,144,95,88,39,29,19,15,9,13

In [ ]:
# '행정구역' 열의 괄호 문자 제거
df2['행정구역'] = df2['행정구역'].apply(remove_parentheses)

# 컬럼명 수정
new_columns = [df2.columns[0]] + [col.split('_')[1] + col.split('_')[2] for col in df2.columns[1:]]
df2.columns = new_columns

a = df2['행정구역'].str.split()
df2['행정구역'] = a.apply(lambda x: x if len(x) >= 4 else None)
df2 = df2.dropna(subset=['행정구역'])

df2['행정구역'] = df2['행정구역'].apply(lambda x: ' '.join(x))

df2['자치구'] = df2['행정구역'].str.split().apply(lambda x: x[2])

cols = list(df2.columns)
cols.insert(1,cols.pop(-1))

df2 = df2[cols]

In [24]:
df2 = df2.replace(',', '', regex=True) # ,쉼표 표시 제거해야댐 계산하려면
df2.iloc[:, 2:] = df2.iloc[:, 2:].apply(pd.to_numeric) #수치형 변환도해야댐

df2['읍면동'] = df2['행정구역'].str.split().apply(lambda x: x[3])
df2 = df2.reset_index(drop=True)
df2 = df2.rename(columns={'읍면동': '행정동'})

df2 = df2.rename(columns={'계100세 이상': '계100세'})

In [46]:
df2.head(1)

,행정구역,자치구,계총인구수,계연령구간인구수,계0세,계1세,계2세,계3세,계4세,계5세,...,계92세,계93세,계94세,계95세,계96세,계97세,계98세,계99세,계100세,행정동
0,경상남도 창원시 의창구 동읍,의창구,19125,19125,43,57,53,41,80,81,...,20,18,15,5,4,2,1,1,0,동읍

In [47]:
# 중위연령을 계산하기 위한 함수 정의
def calculate_median_age(row):
    age_values = []
    for i in range(101):
        age = '계{}세'.format(i)
        age_values.extend([i] * row[age])
    return pd.Series({'중위연령': pd.Series(age_values).median()})

In [49]:
# 중위연령을 구하기 위해 행정동과 계0세부터 계100세까지의 컬럼 선택
df_age = df2[['행정동'] + ['계{}세'.format(i) for i in range(101)]]

# 각 행정동별로 중위연령 계산
median_age = df_age.apply(calculate_median_age, axis=1)

In [51]:
df2['중위연령'] = median_age

In [53]:
df2.to_csv('진짜중위연령.csv',encoding='cp949')